* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    width: 350px;
    margin: auto;
}

h1 {
    margin: 1em 0em;
    text-align: center;
}

h2 {
    margin: 0.5em 0em;
}

#sort {
    margin-bottom: 0.5em;
}
#sort > span {
    margin-bottom: 0.5em;
    display: block;
}
#sort > span > a:nth-child(1n+2)::before {
    content: "|";
    padding-left: 5px;
    padding-right: 5px;
}
.author-name,
.author-email {
    display: inline;
    font-size: 0.8em;
    color: #555555;
}

.task-list-item {
    margin-top: 10px;
}
.task {
    display: inline;
}
.task-item {
    width: 100%;
    display: grid;
    grid-template-areas: "checkbox content button"  
                         "checkbox author button";
    grid-template-columns: 1fr 6fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 8px;
}
.task-item:nth-child(even) {
    background-color: #fbfbfb;
}
.task-item:nth-child(odd) {
    background-color: #f4f4f4;
}
.button-task-edit {
    grid-area: button;
}
.task-author {
    grid-area: author;
}
.checkbox {
    grid-area: checkbox;
    font-size: 2em;
    padding-right: 10px;
}
#button_task_edit {
    display: inline;
}
#pagination {
    text-align: center;
}
#pagination > a {
    padding-left: 1em;
    text-align: center;
}
h3 {
    margin: 15px 0px;
}
.section-task-create {
    width: 100%;
    display: grid;
    grid-template-areas: "content button";
    grid-template-columns: 7fr 2fr;
    padding: 8px;
    height: 2em;
}

#field_new_task {
    grid-area: content;
}
#send_task {
    grid-area: button;
}