* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html {
    background-color: #bebebe;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    width: 350px;
    margin: auto;
    padding: 10px 0px;
    background-color: white;
}
a:visited {
    color: inherit;
}
h1 {
    margin: 1rem 0em;
    text-align: center;
}

h2 {
    margin: 0.5em;
}

#authorisation {
    display: flex;
    justify-content: space-between;
    margin: 0em 0.5em;
}

#sort {
    margin: 0.5em 0.5em;
    text-align: start;
}
#sort-header {
    text-align: left;
}
#sort-content {
    margin-bottom: 0.5em;
    display: block;
    text-align: left;
    color: blue;
}
#sort-content a:nth-child(1n+2)::before {
    content: "|";
    padding-left: 5px;
    padding-right: 5px;
}
.author-name,
.author-email {
    display: inline;
    font-size: 0.8em;
    color: #555555;
}
.task-list-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

.task-item {
    display: grid;
    grid-template-areas:
    "checkbox content button"  
    "checkbox author button";
    grid-template-columns: auto 1fr 5em;
    grid-template-rows: 1fr 1fr;
    padding: 8px;
}
.task {
    justify-self: start;
    grid-area: content;
    /* padding-left: 0.5em; */
}
.task-item:nth-child(even) {
    background-color: #fbfbfb;
}
.task-item:nth-child(odd) {
    background-color: #f4f4f4;
}
.button-task-edit {
    grid-area: button;
}
.task-author {
    grid-area: author;
    justify-self: start;
    border-top: 1px solid #d0d0d0;
}
.checkbox {
    grid-area: checkbox;
    font-size: 2em;
    padding-right: 10px;
    text-align: center;
    align-self: center;
    justify-self: start;
}
.checkbox > a:visited {
    color: inherit;
}
.icon-checkbox-checked {
    color: rgb(0, 100, 0);
}
.icon-checkbox-unchecked {
    color: black;
}
#button_task_edit {
    display: inline;
}
#pagination {
    text-align: center;
}
#button_save_form {
    margin: 0.5em 0.5em 0.5em auto;
    height: 3em;
    width: 6em;
}
#pagination > a {
    padding-left: 1em;
    text-align: center;
}
h3 {
    margin: 0.5em 0.5em 0em 0.5em;
}
.section-task-create {
    display: grid;
    grid-template-areas: "content button";
    grid-template-columns: 7fr 2fr;
    padding: 8px;
    height: 2em;
}

#field_new_task {
    grid-area: content;
}
#send_task {
    grid-area: button;
}